@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Blue */
  --color-primary: #3B82F6;
  /* light blue */
  --color-secondary: #6366F1;
  /* Yellow */
  --color-accent: #FBBF24;
  /* black  */
  --color-neutral: #000000;
  /* gray-50 >> for bg*/
  --color-base-100: #F9FAFB;
  /* gray-200  sometimes for bg*/
  --color-base-200: #E5E7EB;
  /* gray-800  sometime for text*/
  --color-base-300: #4B5563;
}

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}